extends layout

block content

    .legendModal.modal.fade
        .modal-dialog
            .modal-content#legendContent
                .modal-header
                 button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                .modal-title
                 h3 Map Key
                .modal-body#legendCanvas
                  #obesityLegendContainer
                    h4 Obesity
                    br
                    p Percentage of obese 11 year olds (or obese adults, depending on the 
                    p choice in the second dropdown list) in the area
                    br
                    br
                    hr
                    br
                  #indexLegendContainer
                    h4 Fast Food density around Schools
                    br
                    p Index to show density of fast food around given school.
                    br
                    p Depending on what you have selected in the first dropdown list, 
                    p the index shows how the school compares to all other schools 
                    p in the country, or schools in the rural areas, or in the urban areas only.
                    br
                .modal-footer
    .welcomeInfo.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title
                        h4#welcomeTitle
                .modal-body#welcomeInfoCanvas
                    h4#welcomeIdTitle
                    p
                      | This map shows Primary Schools in the UK, along with nearby Fast Food stores and obesity rates for children and adults in the neighbourhood.
                    p
                      | Firstly, choose the County you would like to see the data for. Then, try clicking one of the school's markers that dropped on the map!
                      | The black hamburgers indicate location of nearby fast foods.
                      | For information on the meaning of the colours, click the button 'Legend'!
                    p
                      | Using the dropdown list, pick which schools to display (depending on whether they are located in cities or rural areas) and switch between 
                      | displaying obesity rates for children and adults.
                    p
                      | Click the <b>'New map'</b> button to add a second map, enabling you to compare different schools and regions.
                    p
                      | Thank you!
                .modal-footer
                    button.close(type="button",data-dismiss="modal").glyphicon.glyphicon-ok-sign
                    button.close(type="button",data-dismiss="modal") Take me to the Map!

     .featureInfo.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    .modal-title
                    h4#featureTitle
                    //h4#featureIdTitle
                .modal-body#featureInfoCanvas
                .modal-footer
                    h5#featureIdTitle
    #accordion.panel-group
        #mainPanel.panel.panel-default.template
            .panel-heading
              //span.glyphicon.glyphicon-remove-sign.pull-right
              button#backButton1.backButton.btn.btn-default.btn(type='submit').glyphicon.glyphicon-backward.pull-right
              select#obesityAge1.ageDropdown.form-control.pull-right
                option(value='11yr') Age 10-11 Child Obesity
                option(value='adult') Adult Obesity
              select#indexChoice1.indexDropdown.form-control.pull-right
                option(value='total') All Schools Fastfood Density
                option(value='rural') Rural Schools Fastfood Density
                option(value='urban') Urban Schools Fastfood Density
              h4#panelTitle1.panel-title
                  | Select Local Authority
             #panel-body1.panel-body
                #mapContainer1.container.mapContainer
                 #mapCanvas1.mapCanvas
                 .loading
      #initialTemplate.panel.panel-default.template
        .panel-heading
          span.glyphicon.glyphicon-remove-sign.pull-right
          button.backButton.btn.btn-default.btn(type='submit').glyphicon.glyphicon-backward.pull-right
          select.ageDropdown.form-control.pull-right
            option(value='11yr') Age 10-11 Child Obesity
            option(value='adult') Adult Obesity
          select.indexDropdown.form-control.pull-right
            option(value='total') All Schools
            option(value='rural') Rural Schools
            option(value='urban') Urban Schools
          h4.panel-title
            |  Select Local Authority
        .panel-body
            .container.mapContainer
               .mapCanvas
               .loading
